{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--    <h2>Welcome to Split It!</h2>-->
<!--    <p>Choose an action:</p>-->
<!--    <ul>-->
<!--        <li><a href="{% url 'login' %}">Login</a></li>-->
<!--        <li><a href="{% url 'logout' %}">Logout</a></li>-->
<!--        <li><a href="{% url 'register' %}">Register</a></li>-->
<!--        <li><a href="{% url 'group-list' %}">Group List</a></li>-->
<!--        <li><a href="{% url 'create-group' %}">Create Group</a></li>-->
<!--        <li><a href="{% url 'expense-list' %}">Expense List</a></li>-->
<!--        <li><a href="{% url 'create-expense' %}">Create Expense</a></li>-->
<!--    </ul>-->

<div class="bg-light full-page">
<div class="container-fluid content-container">
<div class="row align-items-center">
    <div class="col-md-6 align-items-center">
    <h1 class="text-center">Let's split the bills not the friendships.</h1>
        <p class="text-center">We organize your bills, so you can chill.</p>
        <div class="d-flex justify-content-center">
        <a type="button" href="{% url 'login' %}" class="btn btn-outline-success">Get Started</a>
        </div>
</div>
    <div class="col-md-6">
    <img src="{% static '/images/brands/brand-big.png' %}" alt="my_logo" class="responsive-img">
</div>
</div>
    </div>
</div>

{% endblock %}
