{% extends 'base_dashboard.html' %}
{% load static %}
{% block content %}
<h6>Your Groups</h6>
<a type="button" href="/create-group" class="btn btn-outline-success my-3">+ New Group</a>
<ul class="list-group">
    {% for group in groups %}
    <a href="/groups/id={{group.id}}">
        <li class="list-group-item d-flex justify-content-between align-items-center my-2">
            {{ group.name }}
            <a href="/delete-group/id={{group.id}}" type="button" class="badge bg-danger rounded-pill">Delete</a>
        </li>
    </a>
    {% endfor %}
</ul>
{% endblock %}
