{% extends 'base.html' %}

{% block content %}
    <h2>Group Detail - {{ group.name }}</h2>
    <p>Members:</p>
    <ul>
        {% for member in group.members.all %}
            <li>{{ member.username }}</li>
        {% endfor %}
    </ul>
    <h3>Add User to Group:</h3>
    <form method="post" action="{% url 'add-user-to-group' group.id %}">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" required>
        <button type="submit">Add User</button>
    </form>
{% endblock %}
