
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Split-It{% endblock %}</title>
    <!-- Add your static files (CSS, JavaScript) here -->
</head>
<body>

    <header>
        <h1>Split-It</h1>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Split-It. All rights reserved.</p>
    </footer>

    <!-- Add your static files (JavaScript) here -->
</body>
</html>
